<h1>Editing Idea</h1>

<%= render 'form', idea: @idea %>

<div><%= link_to 'Show', @idea, :class => 'btn btn-info btn-sm' %></div><br>
<%= link_to 'Back', ideas_path, :class => 'btn btn-outline-dark btn-sm' %>
