<h1>Ideas</h1>
<div class="table-responsive-md">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @ideas.each do |idea| %>
        <tr>
          <td><%= idea.name %></td>
          <td><%= idea.description %></td>
          <td><%= link_to 'Show', idea, :class => 'btn btn-info btn-sm' %>

          <td>
            <% if can? :update, idea %>
                <%= link_to 'Edit', edit_idea_path(idea), :class => 'btn btn-warning btn-sm' %>
            <% end %></td>

          <td>
            <% if can? :destroy, idea %>
                <%= link_to 'Destroy', idea, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger btn-sm' %>
            <% end %></td>

          <td><%= link_to 'Report', idea, :class => 'btn btn-outline-dark btn-sm' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
<div><%= link_to 'New Idea', new_idea_path, :class => 'btn btn-success btn-lg' %></div>