<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>
<div><%= link_to 'Edit', edit_idea_path(@idea), :class => 'btn btn-warning btn-sm' %></div><br>
<%= link_to 'Back', ideas_path %>


