<div class="border-form-div">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' %>
      <%= f.password_field :password, :placeholder => 'Password' %>
      <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
      <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>