<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>AppIdeas</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
</head>

<body>

<% if user_signed_in? %>
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Gorzów IT</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-tabs">
      <li class="nav-link active"><a href="/ideas">Ideas</a></li>
      <li><a href="/ideas">Projects</a></li>
      <li><a href="/ideas">Events</a></li>
      <li><a href="/ideas">Blog</a></li>
      <p class="navbar-text pull-right">
        <% end %>
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <button type="button"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-dark btn-sm' %></button>
            <button type="button"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-dark btn-sm' %></button>
        <% end %>
        </ul>
    </p>
  </div>

  <div class="container-app">
    <%= yield %>
    <br>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
</div>

<footer>
  <div class="container-footer">
    Gorzów IT <%= Time.now.year %>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
</body>
</html>
